

 <div class="reportSection">
    <h4>Size</h4>
    <p>
      The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}IMMA Area of Interest{{/isCollection}} is <strong>{{size.SIZE_SQKM}} sq. km</strong>
      
    </p>
 </div>
 
  <div class="reportSection tableContainer">
      <h4>Exclusive Economic Zones</h4>
      <table>
        <thead>
          <tr>
            <td>EEZ Name</td>
          </tr>
        </thead>
        <tbody>
          {{#eezs}}
            <tr>
              <td>{{EEZ}}</td>
            </tr>
          {{/eezs}}
      </table>
   </div>




